{% extends "base.html" %} 

{% block body %} 


<form><h2>Can I Take Your Order?</h2>
    <label>
        <h2>Burgers Amount</h2>
        <input type="text" required name="burgers"></input> 
    </label>
    <label>
        <h2>Fries Amount</h2>
        <input type="text" required name="fries"></input>
    </label>
    <label>
        <h2>Drinks Amount</h2>
        <input type="text" required name="drinks"></input>
    </label>
    <button>Enter</button>
    <h1>{{ total }}</h1>
</form>


{% endblock %}
